<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>公司介绍.md</string>
		</array>
		<array>
			<string>运动.md</string>
		</array>
		<array>
			<string>小技巧.md</string>
		</array>
		<array>
			<string>食谱.md</string>
		</array>
		<array>
			<string>金融.md</string>
		</array>
		<array>
			<string>着装.md</string>
		</array>
	</array>
	<key>userIconName</key>
	<string>Bookmarks</string>
</dict>
</plist>
